html,body{
    margin:0;
    padding:0;
}

header,main {
    margin:20px;
    padding-top:1px;  
}
.flex-container{
    display:flex;
    height:300px;
    background-color:beige;
}
.flex-item{
    font-size:20px;
    width:60px;
    height:10px;
    border:2px solid black;
    padding:15px;
    background-color:red;
    
}

.centered-container{flex-flow:row wrap; justify-content:center; align-items:center;}
.start-container {flex-flow:row wrap; justify-content:flex-start; align-items:center;}
.end-container {flex-flow:row wrap; justify-content:flex-end; align-items:center;}
.space-container {flex-flow:row wrap; justify-content:space-around; align-items:center;}
.column-container {flex-flow:column wrap; justify-content:space-evenly; align-items:flex-start;}
