/*Margin & Padding*/
html,body{margin:0; padding:0; font-family:Arial, sans-serif;}
header,main{margin:20px;}

.grid-container{
    display:grid;
    grid-template-columns:1fr 3fr;
    grid-template-rows:auto 1fr auto;
    gap:5px;
    padding:5px;
    background-color:rgb(57, 69, 136);
    height:700px;
    width: 100%;
    box-sizing:border-box;
}
.grid-container div{
    background-color:rgb(159, 158, 158);
    text-align:center;
    justify-content:center;
    align-items:center;
    padding:10px;
    font-size:20px;
    box-sizing: border-box;
}

.header{
    grid-column: 1 / -1; 
}

.inner-flex{
    display: flex;
    flex-direction: row; 
}

.content{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;  
    justify-content:center;
    align-content:center;
    gap: 10px;
    padding: 10px;
    height: 100%;
    box-sizing: border-box;
    
}

.content .card{
    font-size: 18px;
    border: 2px solid black;
    margin:10px;
    padding:30px;
    background-color:rgb(173, 172, 241);

}

.footer{
    grid-column: 1 / -1; 

}
