
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 20px;
    padding: 0;
    font-family:"Poppins",sans-serif;
}

.navbar{ /*all navbar properties*/
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 999;
    text-align:center;
    
}

.navbar a{ /*only links in nav*/
    margin:50px;
    color:black;
    text-decoration:none;
    text-align:center;
}

.navbar ul { /*only ul tag in nav*/
    list-style: none; 
    padding: 0;       
    margin: 0;      
}

.navbar ul li { /*all list under ul*/
    display: inline-block; 
    margin: 0 20px;  
}
    
#coding{ /*coding on the laptop picture*/
    width:1000px;
}
p{
    font-style:italic;
}

.with-style{ /*styles the p tag*/
    color:pink;
    background-color:black;
}

.centerbold{ /*centers and make text bold*/
    text-align:center;
    font-weight:bold;
}

.center{
    text-align:center;
}

/*Background Colors */
.bg-red{background-color:red;}
.bg-blue{background-color:blue;}
.bg-green{background-color:green;}

/*Text Colors */
.text-red{color:red;}
.text-blue{color:blue;}
.text-green{color:green;}

/*Border Colors */
.border-red{border:2px solid red;}
.border-blue{border:2px solid blue;}
.border-green{border:2px solid green;}
